@import url("./variables.css");

.navbar {
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100px;
	position: absolute;
	background-color: var(--secondary-background-color);
	display: flex;
	align-items: center;
	justify-content: left;
	filter: drop-shadow(0px 0px 20px #000a);
	z-index: 255;
	& h1 {
		text-decoration: underline;	
		z-index: 255;
	}
}

.navbarSpacer {
	height: 100px;
}
